.flows.json.backup
[{"id":"d6fac98e.651838","type":"tab","label":"Report to Cache1","disabled":false,"info":""},{"id":"48ce469a.2130e","type":"tab","label":"Working","disabled":false,"info":""},{"id":"f04213fa.c22b48","type":"MSSQL-CN","tdsVersion":"7_4","name":"Cache1 MSSQL","server":"cache-mssql1.gravity-demo.svc.cluster.local","port":"1433","encyption":true,"trustServerCertificate":true,"database":"smsdb","useUTC":true,"connectTimeout":"15000","requestTimeout":"15000","cancelTimeout":"5000","pool":"5","parseJSON":false,"enableArithAbort":true},{"id":"35b0806c.4ac0e8","type":"MSSQL-CN","tdsVersion":"7_4","name":"Report MSSQL","server":"report-mssql.gravity-demo.svc.cluster.local","port":"1433","encyption":true,"trustServerCertificate":true,"database":"mbroker","useUTC":false,"connectTimeout":"15000","requestTimeout":"15000","cancelTimeout":"5000","pool":"5","parseJSON":false,"enableArithAbort":true},{"id":"81898769.b5aff8","type":"nats-streaming-server","server":"gravity-report-nats","port":"4222","cluster":"external-stan"},{"id":"b61f10da.9ee238","type":"MSSQL-CN","tdsVersion":"7_4","name":"Sinopac Report DB","server":"10.11.144.120","port":"1433","encyption":true,"trustServerCertificate":true,"database":"mboker2","useUTC":false,"connectTimeout":"15000","requestTimeout":"15000","cancelTimeout":"5000","pool":"5","parseJSON":false,"enableArithAbort":true},{"id":"9610aff8.a70458","type":"redis-config","name":"redis-cluster:6379","options":"redis://redis-cluster:6379","cluster":false,"optionsType":"str"},{"id":"b1037066.183818","type":"MSSQL-CN","tdsVersion":"7_4","name":"Sinopac Cache1","server":"cache-mssql1.gravity-demo.svc.cluster.local","port":"1433","encyption":true,"trustServerCertificate":true,"database":"smsdb","useUTC":true,"connectTimeout":"15000","requestTimeout":"15000","cancelTimeout":"5000","pool":"5","parseJSON":false,"enableArithAbort":true},{"id":"a2506feb.4395c8","type":"switch","z":"d6fac98e.651838","name":"Check Payload Event","property":"payload.event","propertyType":"msg","rules":[{"t":"eq","v":"SendRecordReplyProductInitialize","vt":"str"},{"t":"eq","v":"SendRecordReplyProductCreate","vt":"str"},{"t":"eq","v":"SendRecordReplyProductUpdate","vt":"str"},{"t":"eq","v":"SendRecordReplyProductDelete","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":5,"x":1160,"y":3940,"wires":[["9085d068.426c2"],["9085d068.426c2"],["b4c111a4.07306"],["7de22074.356508"],["b3784723.885fa8"]]},{"id":"57e99674.8ec748","type":"nats-streaming-subscribe","z":"d6fac98e.651838","name":"Send Record","server":"81898769.b5aff8","channel":"rowData.source.SendRecordProduct","clientID":"report-atomic-0002","start":"all","start_option":"","durable":true,"durable_name":"report-atomic-0002","queue_group":"","queue_group_name":"","autoacknowledge":false,"ackwait":"30","rate_limit":true,"max_in_flight":"1","x":150,"y":1820,"wires":[["f7e65feb.01f7b8"]]},{"id":"f7e65feb.01f7b8","type":"json","z":"d6fac98e.651838","name":"","property":"payload","action":"","pretty":false,"x":410,"y":1820,"wires":[["ddbbee5a.867a6","2b3c06a9.e67eaa"]]},{"id":"6b225fce.a8ff58","type":"nats-streaming-subscribe","z":"d6fac98e.651838","name":"Send record reply","server":"81898769.b5aff8","channel":"rowData.source.SendRecordReplyProduct","clientID":"report-atomic-0003","start":"all","start_option":"","durable":true,"durable_name":"report-atomic-0003","queue_group":"","queue_group_name":"","autoacknowledge":false,"ackwait":"30","rate_limit":true,"max_in_flight":"1","x":270,"y":3940,"wires":[["5e6a14a5.bef4fc"]]},{"id":"5e6a14a5.bef4fc","type":"json","z":"d6fac98e.651838","name":"","property":"payload","action":"","pretty":false,"x":590,"y":3940,"wires":[["a2506feb.4395c8","c90d8eb5.1ff2a"]]},{"id":"9085d068.426c2","type":"function","z":"d6fac98e.651838","name":"Convert Insert MsgMo Payload","func":"Number.prototype.zeroPad = Number.prototype.zeroPad || \n     function(base){\n       var nr = this, len = (String(base).length - String(nr).length)+1;\n       return len > 0? new Array(len).join('0')+nr : nr;\n};\n\n\nfunction convert_datetime(value) {\n    \n  if (value == null) { return null }\n    \n  t1 = new Date(value)\n  year = t1.getFullYear().zeroPad(1000).toString()\n  month = (t1.getMonth() + 1).zeroPad(10).toString()\n  day = t1.getDate().zeroPad(10).toString()\n  hour = t1.getHours().zeroPad(10).toString()\n  minute = t1.getMinutes().zeroPad(10).toString()\n  second = t1.getSeconds().zeroPad(10).toString()\n  NewSendTime = year + \"-\" + month + \"-\" + day + \" \" + hour + \":\" + minute + \":\" + second\n  return NewSendTime\n} \n\nfunction convert_strip_datetime_as_string(value) {\n    \n  if (value == null) { return null }\n    \n  t1 = new Date(value)\n  year = t1.getFullYear().zeroPad(1000).toString()\n  month = (t1.getMonth() + 1).zeroPad(10).toString()\n  day = t1.getDate().zeroPad(10).toString()\n  hour = t1.getHours().zeroPad(10).toString()\n  minute = t1.getMinutes().zeroPad(10).toString()\n  second = t1.getSeconds().zeroPad(10).toString()\n  NewSendTime = year + month + day + hour + minute + second\n  return NewSendTime\n} \n\n\nfunction convert_uuid(value) {\n    \n  if (value == null) { return null }\n\n  let source = value;\n  let raw = new Buffer.alloc(16, source, 'base64');\n\n  let p1 = raw.subarray(0, 4);\n  let p2 = raw.subarray(4, 6);\n  let p3 = raw.subarray(6, 8);\n  let p4 = raw.subarray(8, 10);\n  let p5 = raw.subarray(10);\n\n  let uuidArr = [\n  p1.swap32().toString('hex'),\n  p2.swap16().toString('hex'),\n  p3.swap16().toString('hex'),\n  p4.toString('hex'),\n  p5.toString('hex')\n  ];\n  \n  return uuidArr.join('-');\n\n}\n\n\nfunction truncate_string_length(value, length, allow_null=true) {\n\n if (typeof value === 'string' || value instanceof String) {\n\n  if (value == null) { \n      if (allow_null) { return null }\n      else { return \"\" }\n   }\n \n  return value.substring(0, length)\n  \n } else {\n  if (value == null) { \n      if (allow_null) { return null }\n      else { return \"\" }\n   }\n }\n}\n\nmsg.payload = msg.payload.payload\n\nmsg.payload.UID = convert_uuid(msg.payload.uid)\nmsg.payload.SerialNo = msg.payload.UID\nmsg.payload.ReceiveTime = convert_strip_datetime_as_string(msg.payload.update_time)\nmsg.payload.MID = truncate_string_length(msg.payload.code,10)\nmsg.payload.DestNo = truncate_string_length(msg.payload.customer_phone,20)\nmsg.payload.MsgData = truncate_string_length(msg.payload.reply_content,256)\n\nmsg.send_record_reply_uid = msg.payload.UID\n\n\nreturn msg\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1810,"y":3640,"wires":[["e618abac.46e9c8","a3f2a4f3.aae808"]]},{"id":"a3f2a4f3.aae808","type":"debug","z":"d6fac98e.651838","name":"Debug Report MsgMo Table","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":2100,"y":3480,"wires":[]},{"id":"e618abac.46e9c8","type":"MSSQL","z":"d6fac98e.651838","mssqlCN":"f04213fa.c22b48","name":"Cache MsgMo MSSQL","outField":"payload","returnType":0,"throwErrors":"0","query":"INSERT INTO [dbo].[MsgMo](UID,SerialNo,ReceiveTime,MID,DestNo,MsgData) values(@UID,@SerialNo,@ReceiveTime,@MID,@DestNo,@MsgData)","modeOpt":"","modeOptType":"query","queryOpt":"","queryOptType":"editor","paramsOpt":"","paramsOptType":"editor","rows":"rows","rowsType":"msg","params":[{"output":false,"name":"UID","type":"UniqueIdentifier","valueType":"msg","value":"payload.UID","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"SerialNo","type":"UniqueIdentifier","valueType":"msg","value":"payload.SerialNo","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"ReceiveTime","type":"VarChar(?)","valueType":"msg","value":"payload.ReceiveTime","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"MID","type":"VarChar(?)","valueType":"msg","value":"payload.MID","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"DestNo","type":"VarChar(?)","valueType":"msg","value":"payload.DestNo","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"MsgData","type":"VarChar(?)","valueType":"msg","value":"payload.MsgData","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}}],"x":2230,"y":3640,"wires":[["8c26387d.6f11d8","fb883624.f29298","d645b68e.b51f18"]]},{"id":"21916cd4.521c94","type":"debug","z":"d6fac98e.651838","name":"Log Result","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"result","targetType":"msg","statusVal":"","statusType":"auto","x":3110,"y":3540,"wires":[]},{"id":"55cd3660.1ae038","type":"switch","z":"d6fac98e.651838","name":"Check DB Error","property":"have_error","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":2880,"y":3640,"wires":[["e74b793f.9a6f08","21916cd4.521c94"],[]]},{"id":"8c26387d.6f11d8","type":"debug","z":"d6fac98e.651838","name":"Debug MSSQL Error","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"error","targetType":"msg","statusVal":"","statusType":"auto","x":2580,"y":3520,"wires":[]},{"id":"e74b793f.9a6f08","type":"nats-streaming-acknowledge","z":"d6fac98e.651838","name":"STAN ACK","x":3150,"y":3620,"wires":[]},{"id":"fb883624.f29298","type":"function","z":"d6fac98e.651838","name":"Log Result  Information","func":"\nmsg.have_error = 0\n    \nif ( (typeof msg.error == 'undefined') || (msg.error == null) )  {\n    msg.result = \"[GRAVITY][ATOMIC] Update DB MsgMo for Success, UID:\" + msg.send_record_reply_uid\n} else {\n    msg.result = \"[GRAVITY][ATOMIC] Update Cache DB MsgMo table failure: \" + msg.error\n    msg.have_error = 1\n    \n}\n\n\nmsg.payload = {\n    \"code\": msg.have_error,\n    \"msg\": msg.result\n}\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2600,"y":3640,"wires":[["55cd3660.1ae038"]]},{"id":"b4c111a4.07306","type":"function","z":"d6fac98e.651838","name":"Convert Update MsgMo Payload","func":"Number.prototype.zeroPad = Number.prototype.zeroPad || \n     function(base){\n       var nr = this, len = (String(base).length - String(nr).length)+1;\n       return len > 0? new Array(len).join('0')+nr : nr;\n};\n\n\nfunction convert_datetime(value) {\n    \n  if (value == null) { return null }\n    \n  t1 = new Date(value)\n  year = t1.getFullYear().zeroPad(1000).toString()\n  month = (t1.getMonth() + 1).zeroPad(10).toString()\n  day = t1.getDate().zeroPad(10).toString()\n  hour = t1.getHours().zeroPad(10).toString()\n  minute = t1.getMinutes().zeroPad(10).toString()\n  second = t1.getSeconds().zeroPad(10).toString()\n  NewSendTime = year + \"-\" + month + \"-\" + day + \" \" + hour + \":\" + minute + \":\" + second\n  return NewSendTime\n} \n\nfunction convert_uuid(value) {\n    \n  if (value == null) { return null }\n\n  let source = value;\n  let raw = new Buffer.alloc(16, source, 'base64');\n\n  let p1 = raw.subarray(0, 4);\n  let p2 = raw.subarray(4, 6);\n  let p3 = raw.subarray(6, 8);\n  let p4 = raw.subarray(8, 10);\n  let p5 = raw.subarray(10);\n\n  let uuidArr = [\n  p1.swap32().toString('hex'),\n  p2.swap16().toString('hex'),\n  p3.swap16().toString('hex'),\n  p4.toString('hex'),\n  p5.toString('hex')\n  ];\n  \n  return uuidArr.join('-');\n\n}\n\nfunction truncate_string_length(value, length, allow_null=true) {\n\n if (typeof value === 'string' || value instanceof String) {\n\n  if (value == null) { \n      if (allow_null) { return null }\n      else { return \"\" }\n   }\n \n  return value.substring(0, length)\n  \n } else {\n  if (value == null) { \n      if (allow_null) { return null }\n      else { return \"\" }\n   }\n }\n}\n\nfunction convert_strip_datetime_as_string(value) {\n    \n  if (value == null) { return null }\n    \n  t1 = new Date(value)\n  year = t1.getFullYear().zeroPad(1000).toString()\n  month = (t1.getMonth() + 1).zeroPad(10).toString()\n  day = t1.getDate().zeroPad(10).toString()\n  hour = t1.getHours().zeroPad(10).toString()\n  minute = t1.getMinutes().zeroPad(10).toString()\n  second = t1.getSeconds().zeroPad(10).toString()\n  NewSendTime = year + month + day + hour + minute + second\n  return NewSendTime\n} \n\n\n\nmsg.payload = msg.payload.payload\n\nmsg.payload.UID = convert_uuid(msg.payload.uid)\nmsg.payload.SerialNo = msg.payload.UID\nmsg.payload.ReceiveTime = convert_strip_datetime_as_string(msg.payload.update_time)\nmsg.payload.MID = truncate_string_length(msg.payload.code,10)\nmsg.payload.DestNo = truncate_string_length(msg.payload.customer_phone,20)\nmsg.payload.MsgData = truncate_string_length(msg.payload.reply_content,256)\n\nmsg.send_record_reply_uid = msg.payload.UID\n\n\nreturn msg\nreturn msg\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1860,"y":3940,"wires":[["96299829.f2c6d8","8b40363b.4b6128"]]},{"id":"96299829.f2c6d8","type":"debug","z":"d6fac98e.651838","name":"Debug Report MsgMo Table","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":2080,"y":3820,"wires":[]},{"id":"dddda066.de3118","type":"debug","z":"d6fac98e.651838","name":"Log Result","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"result","targetType":"msg","statusVal":"","statusType":"auto","x":3090,"y":3880,"wires":[]},{"id":"7cc63f23.b6a2b","type":"switch","z":"d6fac98e.651838","name":"Check DB Error","property":"have_error","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":2840,"y":3940,"wires":[["8e0afd46.6dbf8","dddda066.de3118"],[]]},{"id":"782c033c.69f924","type":"debug","z":"d6fac98e.651838","name":"Debug MSSQL Error","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"error","targetType":"msg","statusVal":"","statusType":"auto","x":2540,"y":3840,"wires":[]},{"id":"8e0afd46.6dbf8","type":"nats-streaming-acknowledge","z":"d6fac98e.651838","name":"STAN ACK","x":3070,"y":3940,"wires":[]},{"id":"78d40ef0.af4388","type":"function","z":"d6fac98e.651838","name":"Log Result  Information","func":"\nmsg.have_error = 0\n    \nif ( (typeof msg.error == 'undefined') || (msg.error == null) )  {\n    msg.result = \"[GRAVITY][ATOMIC] Update DB MsgMo for Success, UID:\" + msg.send_record_reply_uid\n} else {\n    msg.result = \"[GRAVITY][ATOMIC] Update Cache DB MsgMo table failure: \" + msg.error\n    msg.have_error = 1\n    \n}\n\n\nmsg.payload = {\n    \"code\": msg.have_error,\n    \"msg\": msg.result\n}\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2600,"y":3940,"wires":[["7cc63f23.b6a2b"]]},{"id":"7de22074.356508","type":"function","z":"d6fac98e.651838","name":"Convert Delete  Payload","func":"Number.prototype.zeroPad = Number.prototype.zeroPad || \n     function(base){\n       var nr = this, len = (String(base).length - String(nr).length)+1;\n       return len > 0? new Array(len).join('0')+nr : nr;\n};\n\n\n\nfunction convert_uuid(value) {\n    \n  if (value == null) { return null }\n\n  let source = value;\n  let raw = new Buffer.alloc(16, source, 'base64');\n\n  let p1 = raw.subarray(0, 4);\n  let p2 = raw.subarray(4, 6);\n  let p3 = raw.subarray(6, 8);\n  let p4 = raw.subarray(8, 10);\n  let p5 = raw.subarray(10);\n\n  let uuidArr = [\n  p1.swap32().toString('hex'),\n  p2.swap16().toString('hex'),\n  p3.swap16().toString('hex'),\n  p4.toString('hex'),\n  p5.toString('hex')\n  ];\n  \n  return uuidArr.join('-');\n\n}\n\n\nmsg.payload = msg.payload.payload\n\nmsg.payload.UID = convert_uuid(msg.payload.uid)\nmsg.send_record_reply_uid = msg.payload.UID\n\n\nreturn msg\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1890,"y":4400,"wires":[["a38b50a7.06cb18","c998bb98.31a968"]]},{"id":"a38b50a7.06cb18","type":"debug","z":"d6fac98e.651838","name":"Debug ","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":2190,"y":4340,"wires":[]},{"id":"c998bb98.31a968","type":"MSSQL","z":"d6fac98e.651838","mssqlCN":"f04213fa.c22b48","name":"Cache MsgMo","outField":"payload","returnType":0,"throwErrors":"0","query":"DELETE from [dbo].[MsgMo] where uid=@uid","modeOpt":"","modeOptType":"query","queryOpt":"","queryOptType":"editor","paramsOpt":"","paramsOptType":"editor","rows":"rows","rowsType":"msg","params":[{"output":false,"name":"uid","type":"UniqueIdentifier","valueType":"msg","value":"payload.UID","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}}],"x":2300,"y":4400,"wires":[["158cf5bb.2b84f2","7260ca54.1c478c","b7c06bcf.30488"]]},{"id":"e32a644f.88d978","type":"debug","z":"d6fac98e.651838","name":"Log Result","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"result","targetType":"msg","statusVal":"","statusType":"auto","x":3130,"y":4340,"wires":[]},{"id":"528f087b.dd9ed8","type":"switch","z":"d6fac98e.651838","name":"Check DB Error","property":"have_error","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":2820,"y":4400,"wires":[["5d309080.97acf","e32a644f.88d978"],[]]},{"id":"158cf5bb.2b84f2","type":"debug","z":"d6fac98e.651838","name":"Debug MSSQL Error","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"error","targetType":"msg","statusVal":"","statusType":"auto","x":2580,"y":4340,"wires":[]},{"id":"5d309080.97acf","type":"nats-streaming-acknowledge","z":"d6fac98e.651838","name":"STAN ACK","x":3130,"y":4400,"wires":[]},{"id":"7260ca54.1c478c","type":"function","z":"d6fac98e.651838","name":"Log Result  Information","func":"\nmsg.have_error = 0\n    \nif ( (typeof msg.error == 'undefined') || (msg.error == null) )  {\n    msg.result = \"[GRAVITY][ATOMIC] Delete DB MsgMo for Success, UID:\" + msg.send_record_reply_uid\n} else {\n    msg.result = \"[GRAVITY][ATOMIC] Delete DB MsgMo table failure: \" + msg.error\n    msg.have_error = 1\n    \n}\n\n\nmsg.payload = {\n    \"code\": msg.have_error,\n    \"msg\": msg.result\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2580,"y":4400,"wires":[["528f087b.dd9ed8"]]},{"id":"8b40363b.4b6128","type":"MSSQL","z":"d6fac98e.651838","mssqlCN":"f04213fa.c22b48","name":"Cache  MSSQL","outField":"payload","returnType":0,"throwErrors":"0","query":"UPDATE [dbo].[MsgMo] SET SerialNo=@SerialNo, ReceiveTime=@ReceiveTime, MID=@MID, DestNo=@DestNo, MsgData=@MsgData WHERE UID=@UID","modeOpt":"","modeOptType":"query","queryOpt":"","queryOptType":"editor","paramsOpt":"","paramsOptType":"editor","rows":"rows","rowsType":"msg","params":[{"output":false,"name":"UID","type":"UniqueIdentifier","valueType":"msg","value":"payload.UID","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"SerialNo","type":"VarChar(?)","valueType":"msg","value":"payload.UID","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"ReceiveTime","type":"VarChar(?)","valueType":"msg","value":"payload.ReceiveTime","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"MID","type":"VarChar(?)","valueType":"msg","value":"payload.MID","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"DestNo","type":"VarChar(?)","valueType":"msg","value":"payload.DestNo","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"MsgData","type":"VarChar(?)","valueType":"msg","value":"payload.MsgData","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}}],"x":2200,"y":3940,"wires":[["78d40ef0.af4388","782c033c.69f924","4d408237.10978c"]]},{"id":"b3784723.885fa8","type":"nats-streaming-acknowledge","z":"d6fac98e.651838","name":"STAN ACK","x":1390,"y":4400,"wires":[]},{"id":"ddbbee5a.867a6","type":"switch","z":"d6fac98e.651838","name":"Check Payload Event","property":"payload.event","propertyType":"msg","rules":[{"t":"eq","v":"SendRecordProductInitialize","vt":"str"},{"t":"eq","v":"SendRecordProductCreate","vt":"str"},{"t":"eq","v":"SendRecordProductUpdate","vt":"str"},{"t":"eq","v":"SendRecordProductDelete","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":5,"x":740,"y":1820,"wires":[["6ae42ebc.7ad6c"],["6ae42ebc.7ad6c"],["53e84286.cf4834"],["3703beee.13e732"],["1452a052.e198e8"]]},{"id":"2b3c06a9.e67eaa","type":"debug","z":"d6fac98e.651838","name":"Display Payload","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":500,"y":1700,"wires":[]},{"id":"c90d8eb5.1ff2a","type":"debug","z":"d6fac98e.651838","name":"Display Payload","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":800,"y":3800,"wires":[]},{"id":"3703beee.13e732","type":"function","z":"d6fac98e.651838","name":"Convert Delete Payload","func":"Number.prototype.zeroPad = Number.prototype.zeroPad || \n     function(base){\n       var nr = this, len = (String(base).length - String(nr).length)+1;\n       return len > 0? new Array(len).join('0')+nr : nr;\n};\n\n\nfunction convert_datetime(value) {\n    \n  if (value == null) { return null }\n    \n  t1 = new Date(value)\n  year = t1.getFullYear().zeroPad(1000).toString()\n  month = (t1.getMonth() + 1).zeroPad(10).toString()\n  day = t1.getDate().zeroPad(10).toString()\n  hour = t1.getHours().zeroPad(10).toString()\n  minute = t1.getMinutes().zeroPad(10).toString()\n  second = t1.getSeconds().zeroPad(10).toString()\n  NewSendTime = year + \"-\" + month + \"-\" + day + \" \" + hour + \":\" + minute + \":\" + second\n  return NewSendTime\n} \n\nfunction convert_uuid(value) {\n    \n  if (value == null) { return null }\n\n  let source = value;\n  let raw = new Buffer.alloc(16, source, 'base64');\n\n  let p1 = raw.subarray(0, 4);\n  let p2 = raw.subarray(4, 6);\n  let p3 = raw.subarray(6, 8);\n  let p4 = raw.subarray(8, 10);\n  let p5 = raw.subarray(10);\n\n  let uuidArr = [\n  p1.swap32().toString('hex'),\n  p2.swap16().toString('hex'),\n  p3.swap16().toString('hex'),\n  p4.toString('hex'),\n  p5.toString('hex')\n  ];\n  \n  return uuidArr.join('-');\n\n}\n\nmsg.payload = msg.payload.payload;\n\nmsg.payload.uid= convert_uuid(msg.payload.uid)\nmsg.send_record_table_uid = msg.payload.uid\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1150,"y":2940,"wires":[["f6985476.a0a708","29e6d3d2.67af94"]]},{"id":"f6985476.a0a708","type":"debug","z":"d6fac98e.651838","name":"Debug Send Record Table","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload2","targetType":"msg","statusVal":"","statusType":"auto","x":1460,"y":2840,"wires":[]},{"id":"29e6d3d2.67af94","type":"MSSQL","z":"d6fac98e.651838","mssqlCN":"f04213fa.c22b48","name":"SI_SinoPacBank and MsgInfo","outField":"payload","returnType":0,"throwErrors":"0","query":"\ndelete from [dbo].[SI_SinoPacBank] where uid=@uid\n\ndelete from [dbo].[MsgInfo] where uid=@uid","modeOpt":"","modeOptType":"query","queryOpt":"","queryOptType":"editor","paramsOpt":"","paramsOptType":"editor","rows":"rows","rowsType":"msg","params":[{"output":false,"name":"uid","type":"UniqueIdentifier","valueType":"msg","value":"payload.uid","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}}],"x":1690,"y":2940,"wires":[["667200e3.c6ac6","8debfa1f.9216f8"]]},{"id":"f1c3aee7.6d6098","type":"switch","z":"d6fac98e.651838","name":"Check DB Error","property":"have_error","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":2420,"y":2940,"wires":[["2ce0c317.e4a5a4"],[]]},{"id":"667200e3.c6ac6","type":"debug","z":"d6fac98e.651838","name":"Debug MSSQL Error","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"error","targetType":"msg","statusVal":"","statusType":"auto","x":1980,"y":2840,"wires":[]},{"id":"8debfa1f.9216f8","type":"function","z":"d6fac98e.651838","name":"Log Result  Information","func":"\nmsg.have_error = 0\n    \nif ( (typeof msg.error == 'undefined') || (msg.error == null) )  {\n    msg.result = \"[GRAVITY][ATOMIC] Delete Report DB DB-MsgInfo and SI_SinoPacBank for Success, UID:\" + msg.send_record_table_uid\n} else {\n    msg.result = \"[GRAVITY][ATOMIC] Delete Report DB DB-MsgInfo and SI_SinoPacBank table failure, MSG: \" + msg.error\n    msg.have_error = 1\n    \n}\n\nmsg.payload = {\n    \"code\": msg.have_error,\n    \"msg\": msg.result\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2060,"y":2940,"wires":[["f1c3aee7.6d6098","3ff28535.59d9fa","f4185c1f.e63a9"]]},{"id":"264a298b.708006","type":"nats-streaming-acknowledge","z":"d6fac98e.651838","name":"STAN ACK","x":4070,"y":1280,"wires":[]},{"id":"f005b31b.0eb2b","type":"switch","z":"d6fac98e.651838","name":"","property":"done","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1130,"y":1180,"wires":[["5f9e08b5.5ab76"]]},{"id":"6ae42ebc.7ad6c","type":"function","z":"d6fac98e.651838","name":"","func":"\nif ( global.get(\"MsgInfo_Done\") == 1 && global.get(\"SI_SinoPacBank_Done\") == 1 ) {\n    msg.done = 1\n} \n\nelse {\n    msg.done = 0\n}\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"// 部署節點後，此處的程式碼將運行一次。 \n\n\nglobal.set(\"MsgInfo_Done\", 1)\nglobal.set(\"SI_SinoPacBank_Done\",1)","finalize":"","libs":[],"x":910,"y":1180,"wires":[["f005b31b.0eb2b"]]},{"id":"90a1a83c.811dc","type":"MSSQL","z":"d6fac98e.651838","mssqlCN":"35b0806c.4ac0e8","name":"Query","outField":"payload2","returnType":"1","throwErrors":"0","query":"select [dbo].[send_record].uid as UID, 'SINOPACC' as GroupID, send.create_user as UserName, '' as SourceType, send.req_object_id as ObjectID, send_record.uid as SerialNo, send_record.customer_phone as DestNo, send_record.req_group_id as DestName, send.req_department as DestCategory, 0 as MsgType, send_record.content as MsgData, '' as OrderID, '' as MID, send_record.content as MsgData, send_record.actual_send_time as SubmitTime, send_record.send_time as OrderTime, send_record.expire_time as ExpireTime, send_record.resp_code as StatusFlag, '' as SubmitFlag, '' as Filler, send_record.dr_time as StatusTime, send.req_batch_id as BatchCode from send , send_record  where send_record.uid=@uid and send_record.send_uid = send.uid","modeOpt":"","modeOptType":"query","queryOpt":"","queryOptType":"editor","paramsOpt":"","paramsOptType":"editor","rows":"rows","rowsType":"msg","params":[{"output":false,"name":"uid","type":"UniqueIdentifier","valueType":"msg","value":"payload.uid","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}}],"x":1830,"y":1500,"wires":[["959d512b.2669c","d6797b7.a125a08","655831c3.08e27"]]},{"id":"5f9e08b5.5ab76","type":"function","z":"d6fac98e.651838","name":"Convert Insert Payload","func":"Number.prototype.zeroPad = Number.prototype.zeroPad || \n     function(base){\n       var nr = this, len = (String(base).length - String(nr).length)+1;\n       return len > 0? new Array(len).join('0')+nr : nr;\n};\n\n\nfunction convert_datetime(value) {\n    \n  if (value == null) { return null }\n    \n  t1 = new Date(value)\n  year = t1.getFullYear().zeroPad(1000).toString()\n  month = (t1.getMonth() + 1).zeroPad(10).toString()\n  day = t1.getDate().zeroPad(10).toString()\n  hour = t1.getHours().zeroPad(10).toString()\n  minute = t1.getMinutes().zeroPad(10).toString()\n  second = t1.getSeconds().zeroPad(10).toString()\n  NewSendTime = year + \"-\" + month + \"-\" + day + \" \" + hour + \":\" + minute + \":\" + second\n  return NewSendTime\n} \n\nfunction convert_uuid(value) {\n    \n  if (value == null) { return null }\n\n  let source = value;\n  let raw = new Buffer.alloc(16, source, 'base64');\n\n  let p1 = raw.subarray(0, 4);\n  let p2 = raw.subarray(4, 6);\n  let p3 = raw.subarray(6, 8);\n  let p4 = raw.subarray(8, 10);\n  let p5 = raw.subarray(10);\n\n  let uuidArr = [\n  p1.swap32().toString('hex'),\n  p2.swap16().toString('hex'),\n  p3.swap16().toString('hex'),\n  p4.toString('hex'),\n  p5.toString('hex')\n  ];\n  \n  return uuidArr.join('-');\n\n}\n\nmsg.payload = msg.payload.payload;\nmsg.payload2 = msg.payload\n\nmsg.payload.uid= convert_uuid(msg.payload.uid)\nmsg.payload.send_uid= convert_uuid(msg.payload.send_uid)\n\nmsg.send_record_table_uid = msg.payload.uid\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1460,"y":1180,"wires":[["67b17676.168ba","d1d5cc74.1e9768","2a05629f.f39196"]]},{"id":"67b17676.168ba","type":"debug","z":"d6fac98e.651838","name":"Debug Send Record Table","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1720,"y":940,"wires":[]},{"id":"1f0deec1.823129","type":"switch","z":"d6fac98e.651838","name":"Check DB Error","property":"have_error","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":3100,"y":1180,"wires":[["eb0a1093.b86f4"],[]]},{"id":"c25bec6f.6e26f","type":"debug","z":"d6fac98e.651838","name":"Debug MSSQL Error","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"error","targetType":"msg","statusVal":"","statusType":"auto","x":2060,"y":940,"wires":[]},{"id":"2c239bc.b1def64","type":"function","z":"d6fac98e.651838","name":"Log Result  Information","func":"\nmsg.have_error = 0\n    \nif ( (typeof msg.error == 'undefined') || (msg.error == null) )  {\n    msg.result = \"[GRAVITY][ATOMIC] Insert Cache DB DB-MsgInfo Success, UID:\" +   msg.result1_uuid\n\n} else {\n    msg.result = \"[GRAVITY][ATOMIC] Insert Cache DB DB-MsgInfo table failure, MSG: \" + msg.error\n    msg.have_error = 1\n    \n}\n\n\nmsg.payload = {\n    \"code\": msg.have_error,\n    \"msg\": msg.result\n}\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2820,"y":1180,"wires":[["1f0deec1.823129","6c443f04.468a88","fea35dd1.6db93"]]},{"id":"d1d5cc74.1e9768","type":"MSSQL","z":"d6fac98e.651838","mssqlCN":"35b0806c.4ac0e8","name":"Query","outField":"payload","returnType":"1","throwErrors":"0","query":"select [dbo].[send_record].uid as UID, [dbo].[send_record].serial_number as SerialNum, [dbo].[send_record].req_group_id as GUID, [dbo].[send_record].customer_phone as MPhoneNum, [dbo].[send_record].content as MsgData, [dbo].send.priority as Priority, [dbo].[send_record].send_time as BookingTime, DATEDIFF(SECOND,[send_record].send_time,[send_record].expire_time) as ExpireTime, [dbo].send.req_department as DepID, [dbo].send.msg_type as MsgType, [dbo].send.memo as Memo , [dbo].[send_record].customer_id as SenderID, [dbo].send.req_bu as Bu, [dbo].send.req_company as Company, [dbo].send.req_channel as Channel, [dbo].[send_record].customer_reference as Reference from send_record, send where send_record.uid=@uid and send_record.send_uid = send.uid\n","modeOpt":"","modeOptType":"query","queryOpt":"","queryOptType":"editor","paramsOpt":"","paramsOptType":"editor","rows":"rows","rowsType":"msg","params":[{"output":false,"name":"uid","type":"UniqueIdentifier","valueType":"msg","value":"payload.uid","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}}],"x":1830,"y":1180,"wires":[["c25bec6f.6e26f","39a429b1.d04dd6","8ccd8294.43d1b"]]},{"id":"39a429b1.d04dd6","type":"debug","z":"d6fac98e.651838","name":"Debug Select result","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":2070,"y":1020,"wires":[]},{"id":"2e271fd1.9f1f2","type":"MSSQL","z":"d6fac98e.651838","mssqlCN":"f04213fa.c22b48","name":"DB-MsgInfo","outField":"payload","returnType":"1","throwErrors":"0","query":"\nINSERT INTO [dbo].[SI_SinoPacBank](UID, SerialNum, GUID, MPhoneNum, MsgData, Priority,BookingTime,ExpireTime,DepID, MsgType, Memo ,SenderID ,Bu ,Company,Channel,Reference) VALUES(@UID, @SerialNum, @GUID, @MPhoneNum, @MsgData, @Priority,@BookingTime,@ExpireTime,@DepID, @MsgType, @Memo ,@SenderID ,@Bu ,@Company,@Channel,@Reference)","modeOpt":"","modeOptType":"query","queryOpt":"","queryOptType":"editor","paramsOpt":"","paramsOptType":"editor","rows":"rows","rowsType":"msg","params":[{"output":false,"name":"UID","type":"UniqueIdentifier","valueType":"msg","value":"payload.UID","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"SerialNum","type":"Int","valueType":"msg","value":"payload.SerialNum","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"GUID","type":"VarChar(?)","valueType":"msg","value":"payload.GUID","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"MPhoneNum","type":"VarChar(?)","valueType":"msg","value":"payload.MPhoneNum","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"MsgData","type":"VarChar(?)","valueType":"msg","value":"payload.MsgData","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"Memo","type":"VarChar(?)","valueType":"msg","value":"payload.Memo","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"SenderID","type":"VarChar(?)","valueType":"msg","value":"payload.SenderID","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"Bu","type":"VarChar(?)","valueType":"msg","value":"payload.Bu","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"Company","type":"VarChar(?)","valueType":"msg","value":"payload.Company","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"Channel","type":"VarChar(?)","valueType":"msg","value":"payload.Channel","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"Reference","type":"VarChar(?)","valueType":"msg","value":"payload.Reference","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"Priority","type":"int","valueType":"msg","value":"payload.Priority","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"BookingTime","type":"DateTime","valueType":"msg","value":"payload.BookingTime","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"ExpireTime","type":"Int","valueType":"msg","value":"payload.ExpireTime","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"DepID","type":"VarChar(?)","valueType":"msg","value":"payload.DepID","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"MsgType","type":"VarChar(?)","valueType":"msg","value":"payload.MsgType","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}}],"x":2570,"y":1180,"wires":[["2c239bc.b1def64"]]},{"id":"8ccd8294.43d1b","type":"function","z":"d6fac98e.651838","name":"Get Result1","func":"\ntry {\n  msg.payload = msg.payload.recordset[0]\n  msg.result1_uuid = msg.payload.UID\n  msg.result1_length_is_zero=0\n}\n\ncatch (e) {\n    msg.result1_length_is_zero=1\n}\n\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2150,"y":1180,"wires":[["50f69be8.24f1ec","583e9967.9a9408"]]},{"id":"1962f4ed.3846eb","type":"switch","z":"d6fac98e.651838","name":"Check DB Error","property":"have_error","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":3240,"y":1660,"wires":[["f9ae5de8.f72818"],[]]},{"id":"959d512b.2669c","type":"debug","z":"d6fac98e.651838","name":"Debug MSSQL Error","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"error","targetType":"msg","statusVal":"","statusType":"auto","x":2040,"y":1360,"wires":[]},{"id":"e1c4e0a1.d4bcd","type":"function","z":"d6fac98e.651838","name":"Log Result  Information","func":"\nmsg.have_error = 0\n    \nif ( (typeof msg.error == 'undefined') || (msg.error == null) )  {\n    msg.result = \"[GRAVITY][ATOMIC] Insert Cache DB MsgInfo Success, UID:\" + msg.result2_uuid\n} else {\n    msg.result = \"[GRAVITY][ATOMIC] Insert Cache DB MsgInfo table failure, MSG: \" + msg.error\n    msg.have_error = 1\n    \n}\n\n\nmsg.payload = {\n    \"code\": msg.have_error,\n    \"msg\": msg.result\n}\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2960,"y":1660,"wires":[["1962f4ed.3846eb","26fe461c.3d99ba","37f5c29d.1fecde"]]},{"id":"d6797b7.a125a08","type":"debug","z":"d6fac98e.651838","name":"Debug Select result","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload2.recordset","targetType":"msg","statusVal":"","statusType":"auto","x":2030,"y":1420,"wires":[]},{"id":"dd8561a4.8fc078","type":"MSSQL","z":"d6fac98e.651838","mssqlCN":"f04213fa.c22b48","name":"MsgInfo","outField":"payload","returnType":"0","throwErrors":"0","query":"INSERT INTO [dbo].[MsgInfo](UID,GroupID,UserName,SourceType,ObjectID,SerialNo,DestNo,DestName,DestCategory,MsgType,MsgData,DelegateTime,SubmitTime,OrderID,MID,OrderTime,ExpireTime,StatusFlag,SubmitFlag,StatusTime,BatchCode,Filler) VALUES (@UID, @GroupID, @UserName,@SourceType,@ObjectID,@SerialNo,@DestNo,@DestName,@DestCategory,@MsgType,@MsgData,@DelegateTime,@SubmitTime,@OrderID,@MID,@OrderTime,@ExpireTime,@StatusFlag,@SubmitFlag,@StatusTime,@BatchCode,@Filler)","modeOpt":"","modeOptType":"query","queryOpt":"","queryOptType":"editor","paramsOpt":"","paramsOptType":"editor","rows":"rows","rowsType":"msg","params":[{"output":false,"name":"UID","type":"UniqueIdentifier","valueType":"msg","value":"payload2.UID","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"GroupID","type":"VarChar(?)","valueType":"msg","value":"payload2.GroupID","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"UserName","type":"VarChar(?)","valueType":"msg","value":"payload2.UserName","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"SourceType","type":"VarChar(?)","valueType":"msg","value":"payload2.SourceType","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"ObjectID","type":"VarChar(?)","valueType":"msg","value":"payload2.ObjectID","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"SerialNo","type":"VarChar(?)","valueType":"msg","value":"payload2.SerialNo","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"DestNo","type":"VarChar(?)","valueType":"msg","value":"payload2.DestNo","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"DestName","type":"VarChar(?)","valueType":"msg","value":"payload2.DestName","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"DestCategory","type":"VarChar(?)","valueType":"msg","value":"payload2.DestCategory","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"MsgType","type":"VarChar(?)","valueType":"msg","value":"payload2.MsgType","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"MsgData","type":"VarChar(?)","valueType":"msg","value":"payload2.MsgData","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"DelegateTime","type":"VarChar(?)","valueType":"msg","value":"payload2.DelegateTime","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"SubmitTime","type":"VarChar(?)","valueType":"msg","value":"payload2.SubmitTime","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"OrderID","type":"VarChar(?)","valueType":"msg","value":"payload2.OrderID","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"MID","type":"VarChar(?)","valueType":"msg","value":"payload2.MID","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"OrderTime","type":"VarChar(?)","valueType":"msg","value":"payload2.OrderTime","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"ExpireTime","type":"VarChar(?)","valueType":"msg","value":"payload2.ExpireTime","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"StatusFlag","type":"VarChar(?)","valueType":"msg","value":"payload2.StatusFlag","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"SubmitFlag","type":"VarChar(?)","valueType":"msg","value":"payload2.SubmitFlag","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"StatusTime","type":"VarChar(?)","valueType":"msg","value":"payload2.StatusTime","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"BatchCode","type":"VarChar(?)","valueType":"msg","value":"payload2.BatchCode","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"Filler","type":"VarChar(?)","valueType":"msg","value":"payload2.Filter","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}}],"x":2700,"y":1660,"wires":[["e1c4e0a1.d4bcd"]]},{"id":"655831c3.08e27","type":"function","z":"d6fac98e.651838","name":"Get Result2","func":"Number.prototype.zeroPad = Number.prototype.zeroPad || \n     function(base){\n       var nr = this, len = (String(base).length - String(nr).length)+1;\n       return len > 0? new Array(len).join('0')+nr : nr;\n};\n\n\nfunction convert_datetime(value) {\n    \n  if (value == null) { return null }\n    \n  t1 = new Date(value)\n  year = t1.getFullYear().zeroPad(1000).toString()\n  month = (t1.getMonth() + 1).zeroPad(10).toString()\n  day = t1.getDate().zeroPad(10).toString()\n  hour = t1.getHours().zeroPad(10).toString()\n  minute = t1.getMinutes().zeroPad(10).toString()\n  second = t1.getSeconds().zeroPad(10).toString()\n  NewSendTime = year + \"-\" + month + \"-\" + day + \" \" + hour + \":\" + minute + \":\" + second\n  return NewSendTime\n} \n\nfunction convert_strip_datetime_as_string(value) {\n    \n  if (value == null) { return null }\n    \n  t1 = new Date(value)\n  year = t1.getFullYear().zeroPad(1000).toString()\n  month = (t1.getMonth() + 1).zeroPad(10).toString()\n  day = t1.getDate().zeroPad(10).toString()\n  hour = t1.getHours().zeroPad(10).toString()\n  minute = t1.getMinutes().zeroPad(10).toString()\n  second = t1.getSeconds().zeroPad(10).toString()\n  NewSendTime = year + month + day + hour + minute + second\n  return NewSendTime\n} \n\n\ntry {\n  msg.payload2 = msg.payload2.recordset[0]\n  msg.result2_uuid = msg.payload2.UID\n  msg.payload2.OrderTime = convert_strip_datetime_as_string(msg.payload2.OrderTime)\n  msg.payload2.ExpireTime = convert_strip_datetime_as_string(msg.payload2.ExpireTime)\n  msg.payload2.StatusTime = convert_strip_datetime_as_string(msg.payload2.StatusTime)\n  \n  msg.result2_length_is_zero=0\n}\n\ncatch (e) {\n    msg.result2_length_is_zero=1\n}\n\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2030,"y":1660,"wires":[["77350f67.8b69e","62aead8b.ac180c"]]},{"id":"a7dfbbc6.7a9028","type":"switch","z":"d6fac98e.651838","name":"","property":"done","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":3850,"y":1320,"wires":[["264a298b.708006"]]},{"id":"991a5271.038c68","type":"function","z":"d6fac98e.651838","name":"","func":"\nif ( global.get(\"MsgInfo_Done\") == 1 && global.get(\"SI_SinoPacBank_Done\") == 1 ) {\n    msg.done = 1\n} \n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":3690,"y":1320,"wires":[["a7dfbbc6.7a9028"]]},{"id":"eb0a1093.b86f4","type":"function","z":"d6fac98e.651838","name":"","func":"\nglobal.set(\"MsgInfo_Done\",1)\n\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":3450,"y":1180,"wires":[["991a5271.038c68"]]},{"id":"f9ae5de8.f72818","type":"function","z":"d6fac98e.651838","name":"","func":"\nglobal.get(\"SI_SinoPacBank_Done\",1)\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":3470,"y":1660,"wires":[["991a5271.038c68"]]},{"id":"50f69be8.24f1ec","type":"debug","z":"d6fac98e.651838","name":"Debug Select result1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload ","targetType":"msg","statusVal":"","statusType":"auto","x":2360,"y":1100,"wires":[]},{"id":"2a05629f.f39196","type":"delay","z":"d6fac98e.651838","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1640,"y":1500,"wires":[["90a1a83c.811dc"]]},{"id":"77350f67.8b69e","type":"switch","z":"d6fac98e.651838","name":"","property":"result2_length_is_zero","propertyType":"msg","rules":[{"t":"neq","v":"1","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":2350,"y":1660,"wires":[["dd8561a4.8fc078","dd94b5a9.c6ed98"],["18eb6a3b.178d4e"]]},{"id":"18eb6a3b.178d4e","type":"nats-streaming-acknowledge","z":"d6fac98e.651838","name":"ACK","x":2510,"y":1760,"wires":[]},{"id":"583e9967.9a9408","type":"switch","z":"d6fac98e.651838","name":"","property":"result1_length_is_zero","propertyType":"msg","rules":[{"t":"neq","v":"1","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":2330,"y":1180,"wires":[["2e271fd1.9f1f2"],["c8c2065.d73fbf8"]]},{"id":"c8c2065.d73fbf8","type":"nats-streaming-acknowledge","z":"d6fac98e.651838","name":"ACK","x":2590,"y":1260,"wires":[]},{"id":"62aead8b.ac180c","type":"debug","z":"d6fac98e.651838","name":"Debug Select result2","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload2.recordset","targetType":"msg","statusVal":"","statusType":"auto","x":2260,"y":1580,"wires":[]},{"id":"dd94b5a9.c6ed98","type":"debug","z":"d6fac98e.651838","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload2","targetType":"msg","statusVal":"","statusType":"auto","x":2520,"y":1520,"wires":[]},{"id":"6c443f04.468a88","type":"debug","z":"d6fac98e.651838","name":"Log Result","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"result","targetType":"msg","statusVal":"","statusType":"auto","x":3090,"y":1080,"wires":[]},{"id":"26fe461c.3d99ba","type":"debug","z":"d6fac98e.651838","name":"Log Result","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"result","targetType":"msg","statusVal":"","statusType":"auto","x":3270,"y":1560,"wires":[]},{"id":"9e90e9b5.ec2158","type":"nats-streaming-acknowledge","z":"d6fac98e.651838","name":"STAN ACK","x":4150,"y":2340,"wires":[]},{"id":"b1965875.477718","type":"switch","z":"d6fac98e.651838","name":"","property":"done","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1330,"y":2100,"wires":[["e9e96bcb.5e9db"]]},{"id":"53e84286.cf4834","type":"function","z":"d6fac98e.651838","name":"","func":"\nif ( global.get(\"MsgInfo_Done\") == 1 && global.get(\"SI_SinoPacBank_Done\") == 1 ) {\n    msg.done = 1\n} \n\nelse {\n    msg.done = 0\n}\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"// 部署節點後，此處的程式碼將運行一次。 \n\n\nglobal.set(\"MsgInfo_Done\", 1)\nglobal.set(\"SI_SinoPacBank_Done\",1)","finalize":"","libs":[],"x":1130,"y":2100,"wires":[["b1965875.477718"]]},{"id":"80709ef9.3e50d","type":"MSSQL","z":"d6fac98e.651838","mssqlCN":"35b0806c.4ac0e8","name":"Query","outField":"payload2","returnType":"1","throwErrors":"0","query":"select [dbo].[send_record].uid as UID, 'SINOPACC' as GroupID, send.create_user as UserName, '' as SourceType, send.req_object_id as ObjectID, send_record.uid as SerialNo, send_record.customer_phone as DestNo, send_record.req_group_id as DestName, send.req_department as DestCategory, 0 as MsgType, send_record.content as MsgData, '' as OrderID, '' as MID, send_record.content as MsgData, send_record.actual_send_time as SubmitTime, send_record.send_time as OrderTime, send_record.expire_time as ExpireTime, send_record.resp_code as StatusFlag, '' as SubmitFlag, '' as Filler, send_record.dr_time as StatusTime, send.req_batch_id as BatchCode from send , send_record  where send_record.uid=@uid and send_record.send_uid = send.uid","modeOpt":"","modeOptType":"query","queryOpt":"","queryOptType":"editor","paramsOpt":"","paramsOptType":"editor","rows":"rows","rowsType":"msg","params":[{"output":false,"name":"uid","type":"UniqueIdentifier","valueType":"msg","value":"payload.uid","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}}],"x":2030,"y":2440,"wires":[["1526ea1e.e551ce","4309a071.bc1a","3760c938.a0291e"]]},{"id":"e9e96bcb.5e9db","type":"function","z":"d6fac98e.651838","name":"Convert Update Payload","func":"Number.prototype.zeroPad = Number.prototype.zeroPad || \n     function(base){\n       var nr = this, len = (String(base).length - String(nr).length)+1;\n       return len > 0? new Array(len).join('0')+nr : nr;\n};\n\n\nfunction convert_datetime(value) {\n    \n  if (value == null) { return null }\n    \n  t1 = new Date(value)\n  year = t1.getFullYear().zeroPad(1000).toString()\n  month = (t1.getMonth() + 1).zeroPad(10).toString()\n  day = t1.getDate().zeroPad(10).toString()\n  hour = t1.getHours().zeroPad(10).toString()\n  minute = t1.getMinutes().zeroPad(10).toString()\n  second = t1.getSeconds().zeroPad(10).toString()\n  NewSendTime = year + \"-\" + month + \"-\" + day + \" \" + hour + \":\" + minute + \":\" + second\n  return NewSendTime\n} \n\nfunction convert_uuid(value) {\n    \n  if (value == null) { return null }\n\n  let source = value;\n  let raw = new Buffer.alloc(16, source, 'base64');\n\n  let p1 = raw.subarray(0, 4);\n  let p2 = raw.subarray(4, 6);\n  let p3 = raw.subarray(6, 8);\n  let p4 = raw.subarray(8, 10);\n  let p5 = raw.subarray(10);\n\n  let uuidArr = [\n  p1.swap32().toString('hex'),\n  p2.swap16().toString('hex'),\n  p3.swap16().toString('hex'),\n  p4.toString('hex'),\n  p5.toString('hex')\n  ];\n  \n  return uuidArr.join('-');\n\n}\n\nmsg.payload = msg.payload.payload;\nmsg.payload2 = msg.payload\n\nmsg.payload.uid= convert_uuid(msg.payload.uid)\nmsg.payload.send_uid= convert_uuid(msg.payload.send_uid)\n\nmsg.send_record_table_uid = msg.payload.uid\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1570,"y":2100,"wires":[["f772ac2c.18a608","146af954.1912af","cbcda390.0737e8"]]},{"id":"f772ac2c.18a608","type":"debug","z":"d6fac98e.651838","name":"Debug Send Record Table","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1840,"y":1880,"wires":[]},{"id":"f3bb358f.d651f8","type":"switch","z":"d6fac98e.651838","name":"Check DB Error","property":"have_error","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":3320,"y":2100,"wires":[["9fa7c0a6.72a8f"],[]]},{"id":"e43bdfe1.5b3438","type":"debug","z":"d6fac98e.651838","name":"Debug MSSQL Error","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"error","targetType":"msg","statusVal":"","statusType":"auto","x":2220,"y":1880,"wires":[]},{"id":"a983e704.b80d18","type":"function","z":"d6fac98e.651838","name":"Log Result  Information","func":"\nmsg.have_error = 0\n    \nif ( (typeof msg.error == 'undefined') || (msg.error == null) )  {\n    msg.result = \"[GRAVITY][ATOMIC] Update Cache DB DB-MsgInfo Success, UID:\" +   msg.result1_uuid\n\n} else {\n    msg.result = \"[GRAVITY][ATOMIC] Update Cache DB DB-MsgInfo table failure, MSG: \" + msg.error\n    msg.have_error = 1\n    \n}\n\n\nmsg.payload = {\n    \"code\": msg.have_error,\n    \"msg\": msg.result\n}\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":3040,"y":2100,"wires":[["f3bb358f.d651f8","707363c4.e9ecec","ea2dd672.857a48"]]},{"id":"146af954.1912af","type":"MSSQL","z":"d6fac98e.651838","mssqlCN":"35b0806c.4ac0e8","name":"Query","outField":"payload","returnType":"1","throwErrors":"0","query":"select [dbo].[send_record].uid as UID, [dbo].[send_record].serial_number as SerialNum, [dbo].[send_record].req_group_id as GUID, [dbo].[send_record].customer_phone as MPhoneNum, [dbo].[send_record].content as MsgData, [dbo].send.priority as Priority, [dbo].[send_record].send_time as BookingTime, DATEDIFF(SECOND,[send_record].send_time,[send_record].expire_time) as ExpireTime, [dbo].send.req_department as DepID, [dbo].send.msg_type as MsgType, [dbo].send.memo as Memo , [dbo].[send_record].customer_id as SenderID, [dbo].send.req_bu as Bu, [dbo].send.req_company as Company, [dbo].send.req_channel as Channel, [dbo].[send_record].customer_reference as Reference from send_record, send where send_record.uid=@uid and send_record.send_uid = send.uid\n","modeOpt":"","modeOptType":"query","queryOpt":"","queryOptType":"editor","paramsOpt":"","paramsOptType":"editor","rows":"rows","rowsType":"msg","params":[{"output":false,"name":"uid","type":"UniqueIdentifier","valueType":"msg","value":"payload.uid","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}}],"x":1930,"y":2100,"wires":[["e43bdfe1.5b3438","e75b242c.1da0b8","30ab4f66.777fa"]]},{"id":"e75b242c.1da0b8","type":"debug","z":"d6fac98e.651838","name":"Debug Select result","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":2230,"y":1940,"wires":[]},{"id":"e208747.d3e1788","type":"MSSQL","z":"d6fac98e.651838","mssqlCN":"f04213fa.c22b48","name":"DB-MsgInfo","outField":"payload","returnType":"1","throwErrors":"0","query":"UPDATE [dbo].[SI_SinoPacBank] SET UID=@UID, SerialNum=@SerialNum, GUID=@GUID, MPhoneNum=@MPhoneNum, MsgData=@MsgData, Priority=@Priority, BookingTime=@BookingTime, ExpireTime=@ExpireTime, DepID=@DepID, MsgType=@MsgType, Memo=@Memo ,SenderID=@SenderID ,Bu=@Bu ,Company=@Company, Channel=@Channel, Reference=@Reference WHERE UID=@UID","modeOpt":"","modeOptType":"query","queryOpt":"","queryOptType":"editor","paramsOpt":"","paramsOptType":"editor","rows":"rows","rowsType":"msg","params":[{"output":false,"name":"UID","type":"UniqueIdentifier","valueType":"msg","value":"payload.UID","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"SerialNum","type":"Int","valueType":"msg","value":"payload.SerialNum","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"GUID","type":"VarChar(?)","valueType":"msg","value":"payload.GUID","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"MPhoneNum","type":"VarChar(?)","valueType":"msg","value":"payload.MPhoneNum","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"MsgData","type":"VarChar(?)","valueType":"msg","value":"payload.MsgData","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"Memo","type":"VarChar(?)","valueType":"msg","value":"payload.Memo","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"SenderID","type":"VarChar(?)","valueType":"msg","value":"payload.SenderID","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"Bu","type":"VarChar(?)","valueType":"msg","value":"payload.Bu","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"Company","type":"VarChar(?)","valueType":"msg","value":"payload.Company","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"Channel","type":"VarChar(?)","valueType":"msg","value":"payload.Channel","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"Reference","type":"VarChar(?)","valueType":"msg","value":"payload.Reference","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"Priority","type":"int","valueType":"msg","value":"payload.Priority","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"BookingTime","type":"DateTime","valueType":"msg","value":"payload.BookingTime","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"ExpireTime","type":"Int","valueType":"msg","value":"payload.ExpireTime","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"DepID","type":"VarChar(?)","valueType":"msg","value":"payload.DepID","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"MsgType","type":"VarChar(?)","valueType":"msg","value":"payload.MsgType","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}}],"x":2790,"y":2100,"wires":[["a983e704.b80d18"]]},{"id":"30ab4f66.777fa","type":"function","z":"d6fac98e.651838","name":"Get Result1","func":"\ntry {\n  msg.payload = msg.payload.recordset[0]\n  msg.result1_uuid = msg.payload.UID\n  msg.result1_length_is_zero=0\n}\n\ncatch (e) {\n    msg.result1_length_is_zero=1\n}\n\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2370,"y":2100,"wires":[["7080a0ad.bd4d78","97519d74.9761a"]]},{"id":"7b9ddc8b.7aa09c","type":"switch","z":"d6fac98e.651838","name":"Check DB Error","property":"have_error","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":3420,"y":2500,"wires":[["43afbb34.330a9c"],[]]},{"id":"1526ea1e.e551ce","type":"debug","z":"d6fac98e.651838","name":"Debug MSSQL Error","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"error","targetType":"msg","statusVal":"","statusType":"auto","x":2240,"y":2300,"wires":[]},{"id":"a27938a7.cdc388","type":"function","z":"d6fac98e.651838","name":"Log Result  Information","func":"\nmsg.have_error = 0\n    \nif ( (typeof msg.error == 'undefined') || (msg.error == null) )  {\n    msg.result = \"[GRAVITY][ATOMIC] Update Cache DB MsgInfo Success, UID:\" + msg.result2_uuid\n} else {\n    msg.result = \"[GRAVITY][ATOMIC] Update Cache DB MsgInfo table failure, MSG: \" + msg.error\n    msg.have_error = 1\n    \n}\n\n\nmsg.payload = {\n    \"code\": msg.have_error,\n    \"msg\": msg.result\n}\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":3140,"y":2500,"wires":[["7b9ddc8b.7aa09c","d62c3750.acdf38","908d57b8.12296"]]},{"id":"4309a071.bc1a","type":"debug","z":"d6fac98e.651838","name":"Debug Select result","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload2.recordset","targetType":"msg","statusVal":"","statusType":"auto","x":2230,"y":2360,"wires":[]},{"id":"528a96f9.c96828","type":"MSSQL","z":"d6fac98e.651838","mssqlCN":"f04213fa.c22b48","name":"MsgInfo","outField":"payload","returnType":"0","throwErrors":"0","query":"UPDATE [dbo].[MsgInfo] SET GroupID=@GroupID,UserName=@UserName,SourceType=@SourceType,ObjectID=@ObjectID,SerialNo=@SerialNo,DestNo=@DestNo,DestName=@DestName,DestCategory=@DestCategory,MsgType=@MsgType,MsgData=@MsgData,DelegateTime=@DelegateTime,SubmitTime=@SubmitTime,OrderID=@OrderID,MID=@MID,OrderTime=@OrderTime,ExpireTime=@ExpireTime,StatusFlag=@StatusFlag,SubmitFlag=@SubmitFlag,StatusTime=@StatusTime,BatchCode=@BatchCode,Filler=@Filler WHERE\nUID=@UID","modeOpt":"","modeOptType":"query","queryOpt":"","queryOptType":"editor","paramsOpt":"","paramsOptType":"editor","rows":"rows","rowsType":"msg","params":[{"output":false,"name":"UID","type":"UniqueIdentifier","valueType":"msg","value":"payload2.UID","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"GroupID","type":"VarChar(?)","valueType":"msg","value":"payload2.GroupID","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"UserName","type":"VarChar(?)","valueType":"msg","value":"payload2.UserName","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"SourceType","type":"VarChar(?)","valueType":"msg","value":"payload2.SourceType","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"ObjectID","type":"VarChar(?)","valueType":"msg","value":"payload2.ObjectID","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"SerialNo","type":"VarChar(?)","valueType":"msg","value":"payload2.SerialNo","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"DestNo","type":"VarChar(?)","valueType":"msg","value":"payload2.DestNo","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"DestName","type":"VarChar(?)","valueType":"msg","value":"payload2.DestName","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"DestCategory","type":"VarChar(?)","valueType":"msg","value":"payload2.DestCategory","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"MsgType","type":"VarChar(?)","valueType":"msg","value":"payload2.MsgType","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"MsgData","type":"VarChar(?)","valueType":"msg","value":"payload2.MsgData","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"DelegateTime","type":"VarChar(?)","valueType":"msg","value":"payload2.DelegateTime","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"SubmitTime","type":"VarChar(?)","valueType":"msg","value":"payload2.SubmitTime","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"OrderID","type":"VarChar(?)","valueType":"msg","value":"payload2.OrderID","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"MID","type":"VarChar(?)","valueType":"msg","value":"payload2.MID","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"OrderTime","type":"VarChar(?)","valueType":"msg","value":"payload2.OrderTime","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"ExpireTime","type":"VarChar(?)","valueType":"msg","value":"payload2.ExpireTime","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"StatusFlag","type":"VarChar(?)","valueType":"msg","value":"payload2.StatusFlag","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"SubmitFlag","type":"VarChar(?)","valueType":"msg","value":"payload2.SubmitFlag","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"StatusTime","type":"VarChar(?)","valueType":"msg","value":"payload2.StatusTime","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"BatchCode","type":"VarChar(?)","valueType":"msg","value":"payload2.BatchCode","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"Filler","type":"VarChar(?)","valueType":"msg","value":"payload2.Filter","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}}],"x":2900,"y":2500,"wires":[["a27938a7.cdc388"]]},{"id":"3760c938.a0291e","type":"function","z":"d6fac98e.651838","name":"Get Result2","func":"Number.prototype.zeroPad = Number.prototype.zeroPad || \n     function(base){\n       var nr = this, len = (String(base).length - String(nr).length)+1;\n       return len > 0? new Array(len).join('0')+nr : nr;\n};\n\n\nfunction convert_datetime(value) {\n    \n  if (value == null) { return null }\n    \n  t1 = new Date(value)\n  year = t1.getFullYear().zeroPad(1000).toString()\n  month = (t1.getMonth() + 1).zeroPad(10).toString()\n  day = t1.getDate().zeroPad(10).toString()\n  hour = t1.getHours().zeroPad(10).toString()\n  minute = t1.getMinutes().zeroPad(10).toString()\n  second = t1.getSeconds().zeroPad(10).toString()\n  NewSendTime = year + \"-\" + month + \"-\" + day + \" \" + hour + \":\" + minute + \":\" + second\n  return NewSendTime\n} \n\nfunction convert_strip_datetime_as_string(value) {\n    \n  if (value == null) { return null }\n    \n  t1 = new Date(value)\n  year = t1.getFullYear().zeroPad(1000).toString()\n  month = (t1.getMonth() + 1).zeroPad(10).toString()\n  day = t1.getDate().zeroPad(10).toString()\n  hour = t1.getHours().zeroPad(10).toString()\n  minute = t1.getMinutes().zeroPad(10).toString()\n  second = t1.getSeconds().zeroPad(10).toString()\n  NewSendTime = year + month + day + hour + minute + second\n  return NewSendTime\n} \n\n\ntry {\n  msg.payload2 = msg.payload2.recordset[0]\n  msg.result2_uuid = msg.payload2.UID\n  msg.payload2.OrderTime = convert_strip_datetime_as_string(msg.payload2.OrderTime)\n  msg.payload2.ExpireTime = convert_strip_datetime_as_string(msg.payload2.ExpireTime)\n  msg.payload2.StatusTime = convert_strip_datetime_as_string(msg.payload2.StatusTime)\n  \n  msg.result2_length_is_zero=0\n}\n\ncatch (e) {\n    msg.result2_length_is_zero=1\n}\n\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2210,"y":2600,"wires":[["a6195391.5017a8","7631439.07d87bc"]]},{"id":"1a047389.40cbbc","type":"switch","z":"d6fac98e.651838","name":"","property":"done","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":3950,"y":2340,"wires":[["9e90e9b5.ec2158"]]},{"id":"6d24f21d.9f530c","type":"function","z":"d6fac98e.651838","name":"","func":"\nif ( global.get(\"MsgInfo_Done\") == 1 && global.get(\"SI_SinoPacBank_Done\") == 1 ) {\n    msg.done = 1\n} \n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":3750,"y":2340,"wires":[["1a047389.40cbbc"]]},{"id":"9fa7c0a6.72a8f","type":"function","z":"d6fac98e.651838","name":"","func":"\nglobal.set(\"MsgInfo_Done\",1)\n\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":3670,"y":2100,"wires":[["6d24f21d.9f530c"]]},{"id":"43afbb34.330a9c","type":"function","z":"d6fac98e.651838","name":"","func":"\nglobal.get(\"SI_SinoPacBank_Done\",1)\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":3650,"y":2500,"wires":[["6d24f21d.9f530c"]]},{"id":"7080a0ad.bd4d78","type":"debug","z":"d6fac98e.651838","name":"Debug Select result1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload ","targetType":"msg","statusVal":"","statusType":"auto","x":2580,"y":1940,"wires":[]},{"id":"cbcda390.0737e8","type":"delay","z":"d6fac98e.651838","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1840,"y":2440,"wires":[["80709ef9.3e50d"]]},{"id":"a6195391.5017a8","type":"switch","z":"d6fac98e.651838","name":"","property":"result2_length_is_zero","propertyType":"msg","rules":[{"t":"neq","v":"1","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":2570,"y":2600,"wires":[["528a96f9.c96828","5bd1807d.acfa08"],["846a1167.ed0898"]]},{"id":"846a1167.ed0898","type":"nats-streaming-acknowledge","z":"d6fac98e.651838","name":"ACK","x":2810,"y":2700,"wires":[]},{"id":"97519d74.9761a","type":"switch","z":"d6fac98e.651838","name":"","property":"result1_length_is_zero","propertyType":"msg","rules":[{"t":"neq","v":"1","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":2550,"y":2100,"wires":[["e208747.d3e1788"],["76d69a06.8039a4"]]},{"id":"76d69a06.8039a4","type":"nats-streaming-acknowledge","z":"d6fac98e.651838","name":"ACK","x":2730,"y":2200,"wires":[]},{"id":"7631439.07d87bc","type":"debug","z":"d6fac98e.651838","name":"Debug Select result2","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload2.recordset","targetType":"msg","statusVal":"","statusType":"auto","x":2460,"y":2520,"wires":[]},{"id":"5bd1807d.acfa08","type":"debug","z":"d6fac98e.651838","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload2","targetType":"msg","statusVal":"","statusType":"auto","x":2900,"y":2600,"wires":[]},{"id":"707363c4.e9ecec","type":"debug","z":"d6fac98e.651838","name":"Log Result","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"result","targetType":"msg","statusVal":"","statusType":"auto","x":3310,"y":2000,"wires":[]},{"id":"d62c3750.acdf38","type":"debug","z":"d6fac98e.651838","name":"Log Result","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"result","targetType":"msg","statusVal":"","statusType":"auto","x":3450,"y":2400,"wires":[]},{"id":"9353cd95.70a01","type":"nats-streaming-acknowledge","z":"d6fac98e.651838","name":"STAN ACK","x":3090,"y":2940,"wires":[]},{"id":"3ff28535.59d9fa","type":"debug","z":"d6fac98e.651838","name":"Log Result","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"result","targetType":"msg","statusVal":"","statusType":"auto","x":2310,"y":2840,"wires":[]},{"id":"1452a052.e198e8","type":"nats-streaming-acknowledge","z":"d6fac98e.651838","name":"STAN ACK","x":590,"y":2160,"wires":[]},{"id":"2ce0c317.e4a5a4","type":"switch","z":"d6fac98e.651838","name":"","property":"have_error","propertyType":"msg","rules":[{"t":"neq","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":2730,"y":2920,"wires":[["9353cd95.70a01"]]},{"id":"fea35dd1.6db93","type":"redis-out","z":"d6fac98e.651838","server":"9610aff8.a70458","command":"publish","name":"","topic":"gravity_report_cache","obj":true,"x":3100,"y":960,"wires":[]},{"id":"37f5c29d.1fecde","type":"redis-out","z":"d6fac98e.651838","server":"9610aff8.a70458","command":"publish","name":"","topic":"gravity_report_cache","obj":true,"x":3300,"y":1480,"wires":[]},{"id":"ea2dd672.857a48","type":"redis-out","z":"d6fac98e.651838","server":"9610aff8.a70458","command":"publish","name":"","topic":"gravity_report_cache","obj":true,"x":3320,"y":1920,"wires":[]},{"id":"908d57b8.12296","type":"redis-out","z":"d6fac98e.651838","server":"9610aff8.a70458","command":"publish","name":"","topic":"gravity_report_cache","obj":true,"x":3480,"y":2320,"wires":[]},{"id":"f4185c1f.e63a9","type":"redis-out","z":"d6fac98e.651838","server":"9610aff8.a70458","command":"publish","name":"","topic":"gravity_report_cache","obj":true,"x":2320,"y":2760,"wires":[]},{"id":"d645b68e.b51f18","type":"redis-out","z":"d6fac98e.651838","server":"9610aff8.a70458","command":"publish","name":"","topic":"gravity_report_cache","obj":true,"x":2560,"y":3440,"wires":[]},{"id":"4d408237.10978c","type":"redis-out","z":"d6fac98e.651838","server":"9610aff8.a70458","command":"publish","name":"","topic":"gravity_report_cache","obj":true,"x":2540,"y":3780,"wires":[]},{"id":"b7c06bcf.30488","type":"redis-out","z":"d6fac98e.651838","server":"9610aff8.a70458","command":"publish","name":"","topic":"gravity_report_cache","obj":true,"x":2580,"y":4260,"wires":[]},{"id":"111fdaef.ccd0cd","type":"nats-streaming-subscribe","z":"48ce469a.2130e","d":true,"name":"Send","server":"81898769.b5aff8","channel":"rowData.source.SendProduct","clientID":"report-atomic-001","start":"all","start_option":"","durable":true,"durable_name":"report-atomic-001","queue_group":"","queue_group_name":"","autoacknowledge":false,"ackwait":"30","rate_limit":true,"max_in_flight":"1","x":570,"y":580,"wires":[["e757f638.a0287","3782647f.7683e4"]]},{"id":"e757f638.a0287","type":"json","z":"48ce469a.2130e","name":"","property":"payload","action":"","pretty":false,"x":750,"y":580,"wires":[["4eca32e5.346be4","f3f3ffa8.154288"]]},{"id":"5a74874d.a01bd8","type":"function","z":"48ce469a.2130e","name":"Convert Insert Send Payload","func":"Number.prototype.zeroPad = Number.prototype.zeroPad || \n     function(base){\n       var nr = this, len = (String(base).length - String(nr).length)+1;\n       return len > 0? new Array(len).join('0')+nr : nr;\n};\n\n\nfunction convert_datetime(value) {\n    \n  if (value == null) { return null }\n    \n  t1 = new Date(value)\n  year = t1.getFullYear().zeroPad(1000).toString()\n  month = (t1.getMonth() + 1).zeroPad(10).toString()\n  day = t1.getDate().zeroPad(10).toString()\n  hour = t1.getHours().zeroPad(10).toString()\n  minute = t1.getMinutes().zeroPad(10).toString()\n  second = t1.getSeconds().zeroPad(10).toString()\n  NewSendTime = year + \"-\" + month + \"-\" + day + \" \" + hour + \":\" + minute + \":\" + second\n  return NewSendTime\n} \n\nfunction convert_uuid(value) {\n    \n  if (value == null) { return null }\n\n  let source = value;\n  let raw = new Buffer.alloc(16, source, 'base64');\n\n  let p1 = raw.subarray(0, 4);\n  let p2 = raw.subarray(4, 6);\n  let p3 = raw.subarray(6, 8);\n  let p4 = raw.subarray(8, 10);\n  let p5 = raw.subarray(10);\n\n  let uuidArr = [\n  p1.swap32().toString('hex'),\n  p2.swap16().toString('hex'),\n  p3.swap16().toString('hex'),\n  p4.toString('hex'),\n  p5.toString('hex')\n  ];\n  \n  return uuidArr.join('-');\n\n}\n\nmsg.payload = msg.payload.payload;\nmsg.payload2 = msg.payload\n\nmsg.payload.uid= convert_uuid(msg.payload.uid)\nmsg.payload.send_uid= convert_uuid(msg.payload.send_uid)\n\nmsg.send_record_table_uid = msg.payload.uid\n\nreturn msg;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2180,"y":360,"wires":[["8fb8cc89.ab323"]]},{"id":"8fb8cc89.ab323","type":"debug","z":"48ce469a.2130e","name":"Debug Send Table","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload2","targetType":"msg","statusVal":"","statusType":"auto","x":2550,"y":320,"wires":[]},{"id":"6da19579.f8b4dc","type":"debug","z":"48ce469a.2130e","name":"Log Result","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"result","targetType":"msg","statusVal":"","statusType":"auto","x":3370,"y":320,"wires":[]},{"id":"78ab49b4.0fcc5","type":"switch","z":"48ce469a.2130e","name":"Check DB Error","property":"have_error","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":3120,"y":380,"wires":[["3cd7177c.02305","6da19579.f8b4dc"],["11165e68.a097a2"]]},{"id":"11165e68.a097a2","type":"debug","z":"48ce469a.2130e","name":"Log Result","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"result","targetType":"msg","statusVal":"","statusType":"auto","x":3370,"y":440,"wires":[]},{"id":"7b4b8dec.b1de54","type":"debug","z":"48ce469a.2130e","name":"Debug MSSQL Error","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"error","targetType":"msg","statusVal":"","statusType":"auto","x":2780,"y":320,"wires":[]},{"id":"3cd7177c.02305","type":"nats-streaming-acknowledge","z":"48ce469a.2130e","name":"STAN ACK","x":3350,"y":380,"wires":[]},{"id":"b7d8e650.07cae8","type":"function","z":"48ce469a.2130e","name":"Log Result  Information","func":"\nmsg.have_error = 0\n    \nif ( (typeof msg.error == 'undefined') || (msg.error == null) )  {\n    msg.result = \"[GRAVITY][ATOMIC] Insert Report DB send table for Success, UID:\" + msg.send_table_uid\n} else {\n    msg.result = \"[GRAVITY][ATOMIC] Insert Report DB send table failure, MSG: \" + msg.error\n    msg.have_error = 1\n    \n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2860,"y":380,"wires":[["78ab49b4.0fcc5"]]},{"id":"3c548586.d0db02","type":"MSSQL","z":"48ce469a.2130e","mssqlCN":"35b0806c.4ac0e8","name":"Report Send Table MSSQL","outField":"payload","returnType":0,"throwErrors":"0","query":"\nupdate INTO [dbo].[send] set event_code=@event_code, way_name=@way_name, send_from=@send_from, send_time=@send_from, expire_time=@expire_time, template_code=@template_code, template_max_length=@template_max_length, send_mode=@send_mode, limit_mode=@limit_mode, mod_reply=@mod_reply, status=@status, priority=@priority, msg_type=@msg_type, req_department=@req_department, req_bu=@req_bu, req_company=@req_company, req_channel=@req_channel, req_object_id=@req_object_id, req_batch_id=@req_batch_id, memo=@memo, create_time=@create_time, create_user=@create_user, update_time=@create_user, update_user=@update_user, completed_time=@completed_time, canceled_time=@canceled_time, update_expired_time=@update_expired_time where uid=@uid ","modeOpt":"","modeOptType":"query","queryOpt":"","queryOptType":"editor","paramsOpt":"","paramsOptType":"editor","rows":"rows","rowsType":"msg","params":[{"output":false,"name":"uid","type":"UniqueIdentifier","valueType":"msg","value":"payload.message.uid","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"event_code","type":"VarChar(?)","valueType":"msg","value":"payload.message.event_code","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"way_name","type":"VarChar(?)","valueType":"msg","value":"payload.message.way_name","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"send_from","type":"Int","valueType":"msg","value":"payload.message.send_from","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"send_time","type":"DateTime2","valueType":"msg","value":"payload.message.send_time","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"expire_time","type":"DateTime2","valueType":"msg","value":"payload.message.expire_time","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"template_code","type":"VarChar(?)","valueType":"msg","value":"payload.message.template_code","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"template_max_length","type":"Int","valueType":"msg","value":"payload.message.template_max_length","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"send_mode","type":"Char","valueType":"msg","value":"payload.message.send_mode","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"limit_mode","type":"TinyInt","valueType":"msg","value":"payload.message.limit_mode","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"mod_reply","type":"TinyInt","valueType":"msg","value":"payload.message.mod_reply","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"status","type":"Int","valueType":"msg","value":"payload.message.status","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"priority","type":"Int","valueType":"msg","value":"payload.message.priority","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"msg_type","type":"VarChar(?)","valueType":"msg","value":"payload.message.msg_type","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"req_department","type":"VarChar(?)","valueType":"msg","value":"payload.message.req_department","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"req_bu","type":"VarChar(?)","valueType":"msg","value":"payload.message.req_bu","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"req_company","type":"VarChar(?)","valueType":"msg","value":"payload.message.req_company","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"req_channel","type":"VarChar(?)","valueType":"msg","value":"payload.message.req_channel","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"req_object_id","type":"VarChar(?)","valueType":"msg","value":"payload.message.req_object_id","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"req_batch_id","type":"VarChar(?)","valueType":"msg","value":"payload.message.req_batch_id","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"memo","type":"NVarChar(?)","valueType":"msg","value":"payload.message.memo","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"create_time","type":"DateTime2","valueType":"msg","value":"payload.message.create_time","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"create_user","type":"VarChar(?)","valueType":"msg","value":"payload.message.create_user","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"update_time","type":"DateTime2","valueType":"msg","value":"payload.message.update_time","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"update_user","type":"VarChar(?)","valueType":"msg","value":"payload.message.update_user","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"completed_time","type":"DateTime2","valueType":"msg","value":"payload.message.completed_time","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"canceled_time","type":"DateTime2","valueType":"msg","value":"payload.message.canceled_time","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"update_expired_time","type":"DateTime2","valueType":"msg","value":"payload.message.update_expired_time","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}}],"x":2660,"y":620,"wires":[["d265985a.a6d","bb7b7843.ee3ef8"]]},{"id":"797dc4cd.ac5c94","type":"function","z":"48ce469a.2130e","name":"Convert Send Update Payload","func":"Number.prototype.zeroPad = Number.prototype.zeroPad || \n     function(base){\n       var nr = this, len = (String(base).length - String(nr).length)+1;\n       return len > 0? new Array(len).join('0')+nr : nr;\n};\n\n\nfunction convert_datetime(value) {\n    \n  if (value == null) { return null }\n    \n  t1 = new Date(value)\n  year = t1.getFullYear().zeroPad(1000).toString()\n  month = (t1.getMonth() + 1).zeroPad(10).toString()\n  day = t1.getDate().zeroPad(10).toString()\n  hour = t1.getHours().zeroPad(10).toString()\n  minute = t1.getMinutes().zeroPad(10).toString()\n  second = t1.getSeconds().zeroPad(10).toString()\n  NewSendTime = year + \"-\" + month + \"-\" + day + \" \" + hour + \":\" + minute + \":\" + second\n  return NewSendTime\n} \n\nfunction convert_uuid(value) {\n    \n  if (value == null) { return null }\n\n  let source = value;\n  let raw = new Buffer.alloc(16, source, 'base64');\n\n  let p1 = raw.subarray(0, 4);\n  let p2 = raw.subarray(4, 6);\n  let p3 = raw.subarray(6, 8);\n  let p4 = raw.subarray(8, 10);\n  let p5 = raw.subarray(10);\n\n  let uuidArr = [\n  p1.swap32().toString('hex'),\n  p2.swap16().toString('hex'),\n  p3.swap16().toString('hex'),\n  p4.toString('hex'),\n  p5.toString('hex')\n  ];\n  \n  return uuidArr.join('-');\n\n}\n\nmsg.payload = msg.payload.payload;\n\nmsg.payload.uid= convert_uuid(msg.payload.uid)\nmsg.payload.create_user=convert_uuid(msg.payload.create_user)\nmsg.payload.update_user=convert_uuid(msg.payload.update_user)\nmsg.payload.send_time = convert_datetime(msg.payload.send_time)\nmsg.payload.create_time = convert_datetime(msg.payload.create_time)\nmsg.payload.update_time = convert_datetime(msg.payload.update_time)\nmsg.payload.completed_time = convert_datetime(msg.payload.completed_time)\nmsg.payload.expire_time = convert_datetime(msg.payload.expire_time)\nmsg.payload.update_expired_time = convert_datetime(msg.payload.update_expired_time)\nmsg.payload.canceled_time = convert_datetime(msg.payload.canceled_time)\nmsg.send_table_uid = msg.payload.uid\nmsg.payload2 = msg.payload\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2190,"y":600,"wires":[["fb1cf375.eb8468","3c548586.d0db02"]]},{"id":"fb1cf375.eb8468","type":"debug","z":"48ce469a.2130e","name":"Debug Send Table","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload2","targetType":"msg","statusVal":"","statusType":"auto","x":2590,"y":540,"wires":[]},{"id":"79b84467.76dd0c","type":"debug","z":"48ce469a.2130e","name":"Log Result","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"result","targetType":"msg","statusVal":"","statusType":"auto","x":3410,"y":540,"wires":[]},{"id":"e019b80b.cd8f4","type":"switch","z":"48ce469a.2130e","name":"Check DB Error","property":"have_error","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":3160,"y":620,"wires":[["6d43a32a.9275c4","79b84467.76dd0c"],["991179d4.6ef778"]]},{"id":"991179d4.6ef778","type":"debug","z":"48ce469a.2130e","name":"Log Result","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"result","targetType":"msg","statusVal":"","statusType":"auto","x":3430,"y":680,"wires":[]},{"id":"bb7b7843.ee3ef8","type":"debug","z":"48ce469a.2130e","name":"Debug MSSQL Error","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"error","targetType":"msg","statusVal":"","statusType":"auto","x":2820,"y":540,"wires":[]},{"id":"6d43a32a.9275c4","type":"nats-streaming-acknowledge","z":"48ce469a.2130e","name":"STAN ACK","x":3410,"y":620,"wires":[]},{"id":"d265985a.a6d","type":"function","z":"48ce469a.2130e","name":"Log Result  Information","func":"\nmsg.have_error = 0\n    \nif ( (typeof msg.error == 'undefined') || (msg.error == null) )  {\n    msg.result = \"[GRAVITY][ATOMIC] Update Report DB send table success, UID:\" + msg.send_table_uid\n} else {\n    msg.result = \"[[GRAVITY][ATOMIC] Update Report DB send table failure, MSG: \" + msg.error\n    msg.have_error = 1\n    \n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2900,"y":620,"wires":[["e019b80b.cd8f4"]]},{"id":"3d78e4df.d1c75c","type":"MSSQL","z":"48ce469a.2130e","mssqlCN":"35b0806c.4ac0e8","name":"Report Send Table MSSQL","outField":"payload","returnType":0,"throwErrors":"0","query":"\ndelete from [dbo].[send] WHERE uid=@uid","modeOpt":"","modeOptType":"query","queryOpt":"","queryOptType":"editor","paramsOpt":"","paramsOptType":"editor","rows":"rows","rowsType":"msg","params":[{"output":false,"name":"uid","type":"UniqueIdentifier","valueType":"msg","value":"payload.uid","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}}],"x":2680,"y":880,"wires":[["38f35ce8.9d0d14","427728d1.430738"]]},{"id":"8c956307.8096e8","type":"function","z":"48ce469a.2130e","name":"Convert Send Delete Payload","func":"function convert_uuid(value) {\n    \n  if (value == null) { return null }\n\n  let source = value;\n  let raw = new Buffer.alloc(16, source, 'base64');\n\n  let p1 = raw.subarray(0, 4);\n  let p2 = raw.subarray(4, 6);\n  let p3 = raw.subarray(6, 8);\n  let p4 = raw.subarray(8, 10);\n  let p5 = raw.subarray(10);\n\n  let uuidArr = [\n  p1.swap32().toString('hex'),\n  p2.swap16().toString('hex'),\n  p3.swap16().toString('hex'),\n  p4.toString('hex'),\n  p5.toString('hex')\n  ];\n  \n  return uuidArr.join('-');\n\n}\n\nmsg.payload = msg.payload.payload;\n\nmsg.payload.uid= convert_uuid(msg.payload.uid)\nmsg.send_table_uid = msg.payload.uid\n\nmsg.payload2 = msg.payload\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2190,"y":860,"wires":[["f4936a2d.517a1","3d78e4df.d1c75c"]]},{"id":"f4936a2d.517a1","type":"debug","z":"48ce469a.2130e","name":"Debug Send Table","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload2","targetType":"msg","statusVal":"","statusType":"auto","x":2630,"y":820,"wires":[]},{"id":"ac5b25f7.1e014","type":"debug","z":"48ce469a.2130e","name":"Log Result","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"result","targetType":"msg","statusVal":"","statusType":"auto","x":3450,"y":820,"wires":[]},{"id":"22e589e9.42a916","type":"switch","z":"48ce469a.2130e","name":"Check DB Error","property":"have_error","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":3200,"y":880,"wires":[["370b2fa.0f1375","ac5b25f7.1e014"],["7a030583.a000bc"]]},{"id":"7a030583.a000bc","type":"debug","z":"48ce469a.2130e","name":"Log Result","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"result","targetType":"msg","statusVal":"","statusType":"auto","x":3450,"y":940,"wires":[]},{"id":"427728d1.430738","type":"debug","z":"48ce469a.2130e","name":"Debug MSSQL Error","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"error","targetType":"msg","statusVal":"","statusType":"auto","x":2860,"y":820,"wires":[]},{"id":"370b2fa.0f1375","type":"nats-streaming-acknowledge","z":"48ce469a.2130e","name":"STAN ACK","x":3450,"y":880,"wires":[]},{"id":"38f35ce8.9d0d14","type":"function","z":"48ce469a.2130e","name":"Log Result  Information","func":"\nmsg.have_error = 0\n    \nif ( (typeof msg.error == 'undefined') || (msg.error == null) )  {\n    msg.result = \"[GRAVITY][ATOMIC] Delete Report DB send_record table Success, UID:\" + msg.send_record_table_uid\n} else {\n    msg.result = \"[GRAVITY][ATOMIC] Delete Report DB send_record failure, MSG: \" + msg.error\n    msg.have_error = 1\n    \n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2940,"y":880,"wires":[["22e589e9.42a916"]]},{"id":"4eca32e5.346be4","type":"debug","z":"48ce469a.2130e","name":"Display Payload","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1100,"y":420,"wires":[]},{"id":"f3f3ffa8.154288","type":"switch","z":"48ce469a.2130e","name":"------ Check Payload Event ----------","property":"payload.event","propertyType":"msg","rules":[{"t":"eq","v":"SendProductInitialize","vt":"str"},{"t":"eq","v":"SendProductCreate","vt":"str"},{"t":"eq","v":"SendProductUpdate","vt":"str"},{"t":"eq","v":"SendProductDelete","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":5,"x":1130,"y":600,"wires":[[],[],[],[],[]]},{"id":"3782647f.7683e4","type":"nats-streaming-acknowledge","z":"48ce469a.2130e","name":"STAN ACK","x":730,"y":680,"wires":[]}]